@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Lato',sans-serif;
    box-sizing: border-box;
}

#body{
    display: unset;
}

#main{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#fContainer{
    width: 100%;
    background-color: #F4CE14;
    justify-content: center;
    display: flex;
    padding: 12vh 0 1vh 0;
    height: 100vh;
}

#footer {
    width: 70%;
}

#footer a{
    color: #495E57;
    font-weight: 700;
}

.contact{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding-bottom: 10vh;
}

.contact figure{
    display: flex;
    flex-direction: column;
    row-gap: 4vh;
}

.contact h3{
    font-size: 1.6rem;
    color: #495E57;
    font-weight: 700;
}

.icon img{
    width: 20vh;
    height: 20vh;
}

.icon a{
    font-size: 2.3rem;
}

.icon figcaption {
    display: flex;
    gap: 1vh;
}


.fschedule > article{
    display: flex;
    justify-content: space-between;
}

.fschedule p, .fschedule aside{
    color: #495E57;
    font-weight: 700;
}

.fschedule p{
    padding-left: 5vh;
}

.links, .fmenu { 
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

footer{
    color: #495E57;
}

footer > article{
    display: flex;
    gap: 3vh;
}

.fmenu > a, .links > a, footer a{
    position: relative;
}

.fmenu > a::before, .links > a::before, footer a::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #495E57;
    bottom: 0;
    left: 0;
    border-radius: 4px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .3s ease-in-out;
}

.fmenu > a:hover::before, .links > a:hover::before, footer a:hover::before{
    transform-origin: left;
    transform: scaleX(1);
}